#nav {
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25px 0px 0px 0px;
    padding: 0;
    gap: 20px;
}

#info-button .material-symbols-outlined,
#settings-button .material-symbols-outlined,
#retry-button .material-symbols-outlined {
    font-size: 30px;
    color: #757575;
    text-shadow: 
        0 4px 3px 1px #FCFCFC, 
        0 6px 8px #D6D7D9, 
        0 -4px 4px #CECFD1, 
        0 -6px 4px #FEFEFE, 
        inset 0 0 3px 3px #CECFD1;
}

#info-button .material-symbols-outlined:hover,
#settings-button .material-symbols-outlined:hover,
#retry-button .material-symbols-outlined:hover {
    cursor: pointer;
    transform: scale(1.2); 
    transition: transform 0.2s ease-in-out; 
    color: #585858;
}

.counter-buttons {
    display: flex;
    flex-direction: row; /* Align buttons in a row */
    justify-content: space-between; /* Push the + button to the right */
    align-items: center; /* Align everything vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px; /* Adjust width to control spacing */
    gap: 20px; /* Add spacing between elements */
}

#spacer {
    flex-grow: 1; /* Take up all available space to push the + button to the right */
    visibility: hidden; /* Keep the spacer invisible */
}

#increment-button,
#decrement-button {
    font-size: 60px;
    font-style: bold;
    user-select: none;
    border: black 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    width: 120px;
    height: 120px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 60px;
    border: 1px solid #656565;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: #757575;
    text-shadow: 0 1px #fff;
}

#increment-button:hover,
#decrement-button:hover {
    color: #585858;
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

#increment-button:active,
#decrement-button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

#increment-button:focus,
#decrement-button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

#number-display {
    font-size: 21rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #444444;
    text-align: center;
    user-select: none;
    display: block;
}

.hidden {
    display: none;
}




